#map {
    height:100%;
    width:49%;
    right:0;
    position:fixed;
    display:inline-block;
    top:0;
}

.players {
    width:49%;
    display:inline-block;
    margin-top:15px;
}
#streams {
    width:49%;
    display:inline-block;
}

.leaflet-popup-content-wrapper {
    border: none;
}
.leaflet-popup-content-wrapper:focus{
    border:none;
}